* {
  margin: 0;
  padding: 0;
}

.body1 {
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 1024px;
  left: 0px;
  top: 0px;
}
.body2 {
  position: absolute;
  background: #232340;
  width: 100%;
  height: 1670px;
  left: 0px;
  top: 1064px;
}

@media screen and (max-width: 900px) {
  .navbar a img {
    position: sticky;
    margin-top: -10px;
  }

  .navbar-toggler {
    position: relative;
    margin-top: 25px;
    white-space: nowrap;
  }
  .line1 {
    position: absolute;
    top: 0px;
    left: 250px;
  }
}

@media screen and (min-width: 1000px) {
  .navbar a img {
    position: absolute;
    margin-top: 35px;
    margin-left: 25px;
  }
  .collapse ul {
    position: absolute;
    margin-top: 8em;
    margin-left: 17em;
  }
  .collapse li a {
    margin-left: 100px;
    text-align: center;
    color: black;
  }
  .btn-dark {
    margin-left: 16em;
    background-color: #232340;
  }
  .line1 {
    position: absolute;
    top: -20px;
    left: 250px;
  }
}

.box {
  position: absolute;
  top: 13em;
  left: 109px;
}
.con1 {
  position: relative;
  width: 30em;
}
.con1 h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: -1px;
}
.gcom {
  position: relative;
  top: -15px;
}
